body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/tela.jpg) ;
    
}

h1 {
    color: rgb(21, 216, 21);
}

h2 {
    color: rgb(21, 216, 21);
}

h3 {
    color: rgb(21, 216, 21);
}

h4 {
    color: rgb(21, 216, 21);
}

h5 {
    color: rgb(21, 216, 21);
}

h6 {
    color: rgb(21, 216, 21);
}

p {
    color: rgb(21, 216, 21);
}