body {
    background-color: black;
}

h1 {
    color: rgb(21, 216, 21);
}

h2 {
    color: rgb(21, 216, 21);
}

h3 {
    color: rgb(21, 216, 21);
}

h4 {
    color: rgb(21, 216, 21);
}

h5 {
    color: rgb(21, 216, 21);
}

h6 {
    color: rgb(21, 216, 21);
}

p {
    color: rgb(21, 216, 21);
}